footer {
    color: white;
    background-color: #07B0FB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
}