<div>
  <h1 class="center">
    <img src="../assets/ActionLabs.svg" />
  </h1>

  <div class="line"></div>

  <h1 class="center text">BRL EXCHANGE RATE</h1>

  <form
    #formCurrency="ngForm"
    (ngSubmit)="onSubmit(formCurrency)"
  >
    <div class="center">
      <input type="text" placeholder="Enter the currency code" class="input" [(ngModel)]="currency" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="center">
      <button fill="clear" [disabled]="!currency">
        EXCHANGE RESULT
      </button>
    </div>
  </form>

  <app-exchange-result *ngIf="formCurrency.submitted"></app-exchange-result>

  <app-footer></app-footer>
</div>
