.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.line {
    border-bottom: 1px solid #D9D9D9;
    margin: 1rem;
}

.text {
    color: #07B0FB;
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 3rem;
}

.line-submitted {
    border-bottom: 1px solid #07B0FB;;
    margin: 1rem;
}

input {
    background-color: #F4F4F4;
    width: 80%;
    height: 3rem;
    border: none;
    margin-top: 1rem;
    display: block;
    padding-left: 1rem;
}

.inputSubmitted {
    border-bottom: 2.5px solid #07B0FB;
}

.input {
    border-bottom: 1px solid #D9D9D9;
}

button {
    cursor: pointer;
    margin-top: 2.5rem;
    background-color: #07B0FB;
    border-radius: 2rem;
    color: white;
    display: inline-block;
    width: 75%;
    height: 3rem;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
}