<div class="background">
  <ng-container *ngFor= "let card of data; let last=last; let index=index">
    <div class="box margin">
      <div class="margin">
        <div class="color">{{card?.date}}</div>
        <br />

        <article class="row">
          <div class="alignStart">
            <span class="small">OPEN: </span>
            <h3 class="align">R$ {{card?.open}}</h3>
          </div>
          <div class="alignEnd">
            <span class="small">HIGHT: </span>
            <h3 class="align">R$ {{card?.high}}</h3>
          </div>
        </article>

        <article class="row">
          <div class="alignStart">
            <span class="small">CLOSE:</span>
            <h3 class="align">R$ {{card?.close}}</h3>
          </div>
          <div class="alignEnd">
            <div class="small">LOW:</div>
            <h3 class="align">R$ {{card?.low}}</h3>
          </div>
        </article>

        <div class="row">
          <div class="small">CLOSE DIFF (%):</div>
          <h3 class="bold align"> -1.15 % <img src="../../assets/DownArrow.svg" />
          </h3>
        </div>
      </div>
    </div>
  </ng-container>
</div>