<div class="background">
  <div class="box margin">
    <div class="margin">
      <div class="color">09/03/2022</div>
      <br />

      <article class="row">
        <div class="alignStart">
          <span class="small">OPEN: </span>
          <h3 class="align">R$ 5.0666</h3>
        </div>
        <div class="alignEnd">
          <span class="small">HIGHT: </span>
          <h3 class="align">R$ 5.0689</h3>
        </div>
      </article>

      <article class="row">
        <div class="alignStart">
          <span class="small">CLOSE:</span>
          <h3 class="align">R$ 5.0038</h3>
        </div>
        <div class="alignEnd">
          <div class="small">LOW:</div>
          <h3 class="align">R$ 5.0666</h3>
        </div>
      </article>

      <div class="row">
        <div class="small">CLOSE DIFF (%):</div>
        <h3 class="bold align">
          - 1.15% <img src="../../assets/DownArrow.svg" />
        </h3>
      </div>
    </div>
  </div>
</div>
